@import url("https://fonts.cdnfonts.com/css/hippie-mods");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Hippie Mods" !important;
}

body {
  color: black;
}

::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-thumb {
  background: #735542 !important;
}

::-webkit-scrollbar-track {
  background: #7355427c !important;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
